<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>SanKung-Client.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>E015CE7D1C97E27C00B08810</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E015CE961C97E27C00B08810</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E015CEA11C97E27C00B08810</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
